@font-face {
    font-family: monaSans;
    src: url(MonaSans-Regular.ttf);
}

@font-face {
    font-family: monaSans;
    src: url(MonaSans-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: monaSans;
    src: url(MonaSans-SemiBold.ttf);
    font-weight: bold;
}

body {
    background-color: black;
} 

#page {
    width: 7in;
    height: 14in;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;
}

.title {
    background: #4dd2fe;
    height: 75px;
    padding-left: 10px;
    z-index: 5;
}

h1, h2 {
    font-family: monaSans;
    font-weight: 700;
    display: inline;
}

.wave {
    width: 7in;
    position: absolute;
    z-index: 2;
}

p, li {
    font-family: monaSans;
    font-size:15px;
}

ul {
    list-style-type: none;
    padding-left:10px;
    /* width: calc(calc(7in - 85px) / 2); */
}

li::before {
    content: "○  ";
}

.flip {
    transform: scaleY(-1);
}

.bubble {
    /* left: calc(calc(calc(100vw - 7in) / 2) + 10px); */
    /* position: absolute; */
    z-index: 100;
    border: 4px black solid;
    border-radius: 4px;
    padding-left:5px;
    padding-right:10px;
    width: calc(calc(7in - 100px) / 2);
    background: rgb(9,0,167);
    background: linear-gradient(74deg, rgba(9,0,167,0.1) 0%, rgba(15,42,116,0.2) 62%, rgba(0,64,77,0.1) 100%);
    display:inline;
    margin-left: auto;
    margin-right: auto;  
}

.third {
    width: calc(calc(7in - 100px) / 3);
}

/*.third > .img {
    width: calc(calc(7in - 100px) / 3);
} */

.doublewide {
    width: calc(7in - 100px);
}

#content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-left: 10px;

}

img {
    width: calc(calc(7in - 100px) / 2);
}

.break {
    flex-basis: 100%;
    height: 0;
}

hr {
    width: 100%;
    height:0px;
    border:1px solid black;
}

.horizontal {
    height:40px;
    width:0px;
    padding:0;
    /* border:1px solid black; */
}

.hidden {
    width: 0;
    height:0;
}

.footer {
    position:absolute;
    top:13.75in;
    right: 50vw;
    font-family: monaSans;
}